.ui-inline h4,.ui-inline div{
    display: inline;
}
span{
    margin-right: 3ex;
}
.ui-twoline div h4,.ui-twoline div span{
    margin: 0.5ex;
    margin-left: 0;
}
.ui-underline{
    text-decoration: underline;
    color:blue;
}